---
import BaseLayout from '../../layouts/BaseLayout.astro';

export async function getStaticPaths() {
    const allPosts = await Astro.glob('../posts/*.md')

  return [
    { params: { tag: "astro" } },
    { params: { tag: "exitos" } },
    { params: { tag: "comunidad" } },
    { params: { tag: "bloguear" } },
    { params: { tag: "contratiempos" } },
    { params: { tag: "aprender en público" } },
  ];
}

const { tag } = Astro.params;


---
<BaseLayout pageTitle={tag}>
  <p>Entradas etiquetadas con {tag}</p>
  
</BaseLayout>